<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Accesos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body> 
    <div class="container-fluid">
        <h1 class="text-center alert alert-success">Reporte de Acceso</h1>
    </div>
    <div class="row text-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <a href="/" class="btn btn-outline-success btn-block">Volver</a>
        </div>
    </div>

    <div class="container">
        <h1 class="text-center my-4">Accesos</h1>

        <!-- Formulario de búsqueda -->
        <form method="POST" action="{{ url_for('reporte_accesos') }}" class="mb-4">
            <div class="input-group">
                <input type="text" name="nombre_busqueda" class="form-control" placeholder="Buscar por nombre" required>
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </div>
                <div class="input-group-append">
                    <a class="btn btn-outline-success" href="{{ url_for('reporte_accesos') }}">Mostrar Todos</a>
                </div>
            </div>
        </form>

        <div class="table-wrapper">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>No. Accesos</th>
                        <th>Fecha de Ingreso</th>
                        <th>Hora de Ingreso</th>
                        <th>Estado de Acceso</th>
                        <th>ID Miembro</th>
                        <th>Nombre del Miembro</th>
                    </tr>
                </thead>
                <tbody>
                    {% for acceso in accesos %}
                    <tr>
                        <td>{{ acceso[0] }}</td>
                        <td>{{ acceso[1] }}</td>
                        <td>{{ acceso[2] }}</td>
                        <td>{{ acceso[3] }}</td>
                        <td>{{ acceso[4] }}</td>
                        <td>{{ acceso[5] }} {{ acceso[6] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Incluir Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
