<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambios de Miembros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center alert alert-success">Cambios de Datos de Miembros</h1>
        <div class="row text-center mb-4">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="/admin_miem" class="btn btn-outline-success btn-block">Volver</a>
            </div>
        </div>
        <form id="cambiosForm" action="/actualizar_miembro/{{ miembro[0] }}" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ miembro[1] }}" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" name="apellido" value="{{ miembro[2] }}" required>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" class="form-control" id="telefono" name="telefono" value="{{ miembro[3] }}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ miembro[4] }}" required>
            </div>
            <div class="form-group">
                <label for="email">Fecha de Vencimiento:</label>
                <input type="datetime" class="form-control" id="fecha" name="fecha" value="{{ miembro[6] }}" required>
            </div>

            <div class="form-group">
                <label for="membresia">Duración de Membresía:</label>
                <select id="membresia" name="membresia" class="form-control" required>
                    <option value="0mes">0 meses</option>
                    <option value="1mes">1 mes</option>
                    <option value="3meses">3 meses</option>
                    <option value="6meses">6 meses</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-success ml-auto">Actualizar</button>
            
        </form>
    </div>
    {% if actualizar %}
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Actualización Completada',
            text: 'Se actualizaron correctamente los datos del miembro',
        }).then(() => {
            window.location.href = '/admin_miem';
        });
    </script>
    {% endif %}
</body>
</html>