<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Acceso</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        #videoElement {
            width: 50%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center alert alert-success">Control de Acceso</h1>
        <div class="row text-center mb-4">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="/" class="btn btn-outline-success btn-block">Volver</a>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <video autoplay playsinline id="videoElement"></video>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <form action="/reconocer" method="POST">
                    <input type="hidden" name="status" value="Ingreso"> <!-- Input oculto para enviar el nombre -->
                    <input class="btn btn-outline-success btn-block" type="submit" value="Ingreso al Gimnasio">
                </form>
            </div>
            <div class="col-sm-4">
                <form action="/reconocer" method="POST">
                    <input type="hidden" name="status" value="Salida"> <!-- Input oculto para enviar el nombre -->
                    <input class="btn btn-outline-success btn-block" type="submit" value="Salida del Gimnasio">
                </form>
            </div>
        </div>
    </div>

    {% if alerta %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Desconocido',
            text: 'No se encontró al usuario',
        }).then(() => {
            window.location.href = '/';
        });
    </script>
    {% endif %}

    {% if registro %}
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Registro exitoso',
            text: '{{ mensaje_registro }}',
        }).then(() => {
            window.location.href = '/';
        });
    </script>
    {% endif %}
</body>
</html>
